.services{
    padding: 120px 0;
}

.services__row{
    display: flex;
    column-gap: 70px;

}

.services__item{
    text-align: center;
}

.services__item-img{
    margin-bottom: 53px;
}

.services__item-text{
    font-size: 20px;
    line-height: 1.35;
    font-family: $font-secondary;
    font-weight: 300;
}