// fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

//colors
$dark: #242B33;
$accent: #607844;
$white: #fff;
$footer-bg: #2D343C;